# Preparing Notebook

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Matt\Documents\Data Analysis Course\02-07-2022 InstaCart Basket Analysis'

In [31]:
df_combined_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [17]:
# Checking shape to make sure it is the same as when I exported it, which it is
df_combined_merge.shape

(32434489, 12)

In [18]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col=False)

# Merging df_prods and df_combined_merge

In [43]:
# Checking to see which columns the DataFrames have in common
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [42]:
df_combined_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,2539329,1,prior,1,2,8,11.11484,196,1,0
1,0,2539329,1,prior,1,2,8,11.11484,14084,2,0
2,0,2539329,1,prior,1,2,8,11.11484,12427,3,0
3,0,2539329,1,prior,1,2,8,11.11484,26088,4,0
4,0,2539329,1,prior,1,2,8,11.11484,26405,5,0

In [45]:
# Since the DataFrames share the column 'product_id' in common, I'll use it as they key for the inner join
df_both_merged = df_prods.merge(df_combined_merged, on = 'product_id', indicator = True)

In [48]:
df_both_merged.shape

(32404859, 17)

In [49]:
df_both_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting new DataFrame

In [50]:
# Exporting Merged File
df_both_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))