# Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [8]:
# Creating a path
path = r'C:\Users\Matt\Documents\Data Analysis Course\02-07-2022 InstaCart Basket Analysis\02 Data\Original Data\order_products__prior.csv'

In [9]:
# Importing data from order_products_prior
df_ords_prior = pd.read_csv(os.path.join(path), index_col = False)

In [30]:
# Importing df_ords
df_ords = pd.read_csv(r'C:\Users\Matt\Documents\Data Analysis Course\02-07-2022 InstaCart Basket Analysis\02 Data\Prepared Data\orders_checked.csv', index_col = False)

In [13]:
# Checking Shape
df_ords_prior.shape

(32434489, 4)

In [31]:
df_ords.shape

(3421083, 8)

### Searching for common columns

In [16]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [32]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,11.11484
1,1,2398795,1,prior,2,3,7,15.00000
2,2,473747,1,prior,3,3,12,21.00000
3,3,2254736,1,prior,4,4,7,29.00000
4,4,431534,1,prior,5,4,15,28.00000

## Merging the two dataframes

In [36]:
# Merging the data
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id')

In [27]:
# Making sure the inner merge was successfull and produced a full match
df_merged_large ['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting DataFrame

In [33]:
path = r'C:\Users\Matt\Documents\Data Analysis Course\02-07-2022 InstaCart Basket Analysis'

In [37]:
# Exporting Merged File
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))